/* Preliminary styling */
body {
    color:white;
    background-color:rgb(35, 35, 35);
    margin:auto;
    font-family: "Exo 2"
}
a {
    color:white;
    text-decoration: none;
}
sup {
    font-size:10px;
}
h1 {
    font-size:44px;
}

/* Header and Nav */
header {
    margin:auto;
    background-color:rgb(21, 21, 21);
}
header > nav{
    margin:auto;
    list-style-type: none;
    /* display:flex;
    justify-content:space-evenly; */
    display:grid;
    grid-template-columns:repeat(6,1fr);
    justify-content: space-evenly;
    align-items:center;
    text-align:center;
    padding:10px;
    padding-left:0px;
}

/* Links */
header > nav > li {
    font-family: 'Space Grotesk';
    font-weight:200;
    font-size:20px;
}

nav > li a{
    transition:
        color 0.25s;
}

nav > li a:hover {
    color:#a10bcb;
}


/* Logo */
header > nav > div{
    display:flex;
    margin:auto;
    gap:15px;
    justify-content: left;
    align-items: center;
}
nav > div > p, nav > div a {
    font-family: 'Oswald';
    font-weight:500;
    font-size:28px;
    background-image: linear-gradient(#d0169f, #4209b2);
    color: transparent;
    background-clip: text;
    margin:auto;
}

.main{
    /* margin:20px; */
    margin:40px;
    margin-bottom:50px;
    font-size:20px;
}

footer {
    background-color: rgb(21, 21, 21);
    padding:20px 30px;
}

footer a {
    color: #a10bcb; 
}

footer a:hover {
    color: #8d09b2;
}

/* Homepage Customizations */
.borderedAtBottom {
    border-bottom: 3px #8d09b2 solid;
    border-width: 4px;
    border-bottom-style: solid;
}

#introductionHomepage > h1 {
    font-size:44px;
    margin:0px;
    margin-bottom:30px;
}

#introductionHomepage > p {
    margin-left:20px;
    margin-bottom:30px;
}

/* Product List at Homepage */
#productHomepage h3, #testimonies h3 {
    font-size:30px;
}
/* Product List in Homepage & Products Page */
.productsList {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:2%;
    justify-content: space-around;
    margin-bottom:20px;
}

/* Style for product block */
.block {
    min-width:250px;
    max-width:270px;
    /* width:70%; */
    background-color: rgb(27, 27, 27);
    display:grid;
    grid-template-rows:1fr 1fr;
    padding:10px;
    padding-bottom:20px;
    margin:30px;
    text-align:center;
    /* border:#8d09b2 2px solid; */
    box-shadow:0 0 4px 4px #8d09b2;
    transition:
        box-shadow 0.5s;
}

.block:hover {
    box-shadow: 0 0 10px 6px #8d09b2;
}

/* .block > .imgDiv {
    background-image:url("../images/products/minecraft.jpg");
    background-size:200%;
    background-position:center;
} */
.block img {
    width:100%;
    height:100%;
    object-fit:cover;
}

/* Product details styling */
.productDetails li {
    list-style-type: none;
    margin:20px 0px 20px -40px;
}
.productName{
    font-weight:bold;
    font-size:26px;
}
.productStars {
    font-size:30px;
    color:#8d09b2;
}
.moneySpan {
    font-weight:bold;
}

/* Testimonial styling */
#testimoniesList {
    display:grid;
    margin-bottom:20px;
    grid-template-columns: repeat(4,1fr);
    gap:2%;
    justify-content: space-around;
}
.testimoniesBlock {
    min-width:230px;
    max-width:250px;
    height:150px;
    /* width:70%; */
    background-color: rgb(27, 27, 27);
    padding:20px;
    padding-bottom:20px;
    margin:20px;
    text-align:center;
}
.testimoniesName {
    text-align:right;
    font-style:italic;
}

/* Products Page Special Styling */
.productsPage {
    padding-bottom:100px;
}
.productsPage .productsList {
    gap:1% 0px;
}
.productsPage .block {
    margin: 30px 20px 30px 30px;
    min-width:250px;
    max-width:300px;
}
.productsPage .block .productName {
    padding: 0px 5px 0px 5px;
}
.productDesc {
    font-size:14px;
}

/* Subscribe Page */

/* Preliminary */
form {
    display:flex;
    flex-direction:column;
    align-items:center;
}
fieldset {
    width:70%;
    font-size:26px;
    padding:30px;
    padding-bottom:50px;

    border: none;
    box-shadow:0 0 4px 3px #8d09b2;
}

legend {
    background-color: rgb(27, 27, 27);
    font-weight:600;
    border: 2px solid #8d09b2;
    padding: 12px 60px;
}

/* General Input Styling */
input, select, textarea{
    font-size:20px;
    font-family: 'Exo 2';
    color:white;

    background-color:rgb(27, 27, 27);
    padding:10px;

    border-style:none;
    border-bottom:#8d09b2 3px solid;

    transition:
        border-bottom 0.25s;
    
    /* box-shadow:0 0 4px 2px #8d09b2; */
}

input:focus, select:focus, textarea:focus {
    outline:none;
    border-bottom: 3px solid white;
}

input[type="checkbox"] {
    height:25px;
    width:25px;
    cursor:pointer;
}

/* For Error Spans */
.errorSpan {
    color:red;
    font-size:18px;
    display:none;
}

/* Field for Registration (With Name, Email, etc) */
.registrationField, .creditCardField, .addressField {
    display:flex;
    flex-direction:column;
    /* align-items: start; */
    gap:60px;
    margin-bottom:50px;
}
/* Registration Subdivisions */
.registrationField > section {
    display:flex;
    flex-direction:column;
    margin:0 50px 0 50px;
    gap:15px;
}
/* Special styling for Date & Age */
#dateAgeSection {
    display:flex;
    /* justify-content: flex-start; */
    gap:150px;
    margin-top:15px;
}

#dateAgeSection > section {
    display:grid;
    grid-template-columns: 1fr 6fr;
    gap:15px;
    justify-content: center;
    align-items:center;
}

/* For Address Details */

.addressDetails, .creditCardDetails{
    display:grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    padding: 0px 50px 0px 50px;
    gap:20px;
}
/* Address Subdivisions */
.addressDetails > section, .creditCardDetails > section {
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:10px;
    /* margin:0 50px 0 50px; */
}

/* Special Styling for City & Subscribe*/
.addressCity {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 50px 0px 50px;
}
.addressCity > section {
    display:flex;
    align-items:center;
    gap:25px;
}

/* Credit Card Section */

#CVVSection {
    margin-top:20px;
    display:flex;
    align-items:center;
    gap:30px;
}

#CVVSection input {
    width:200px;
}

/* Submit & Reset Buttons */
.button, .button:focus {
    border: 3px #8d09b2 solid;
    padding: 20px 125px;
    font-size:26px;
    font-weight:600;
    transition:
        background-color 0.20s;
}

.button:hover {
    border: 3px #8d09b2 solid;
    background-color:#8d09b2;
    cursor:pointer;
}

.button:active {
    background-color: #720092;
    transition:
        background-color 0s;
}

.formButtons {
    display:flex;
    gap:120px;
}

/* Contact Us Page */

/* Preliminary */
.contactUsPage {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.contactUsField {
    gap:20px;
    margin-bottom:50px;
}

/* Special Styling */
.contactUsField > section {
    margin: 20px;
}

/* Radio button section */
.contactRadioButtons {
    display:flex;
    gap:75px;
}
.contactRadioButtons > div {
    display:flex;
    align-items:center;
    margin-left:20px;
    gap:25px;
}

/* Radio Button */
.contactRadioButtons input[type="radio"] {
    height:25px;
    width:25px;
}

/* Special styling for Form Buttons */
.contactUsButtons > .button {
    padding: 20px 65px;
}

/* Address Half  */

/* Gmaps Styling */
#gMapsEmbed {
    margin-top:30px;
    border: 4px solid #8d09b2;
    width:90%;
}
#gMapsEmbed > iframe {
    width:100%;
}


/* FaQ Page */

.faq-questions {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left:20px;
}

.faq-questions h3 {
    font-size:32px;
}

.faq-questions p {
    font-size:22px;
    margin-left:30px;
    padding:15px;
    border-left: 3px solid #a10bcb;
    background-color: rgb(27, 27, 27);
}

.faq-questions .faq-colored {
    color:#a10bcb;
}
.faq-questions a:hover {
    color:#8d09b2;
}